:coffee
  $ ->
    source = new EventSource("/rooms/#{@room.id}/events")
    source.addEventListener 'message', (e) ->
      response = $.parseJSON(e.data)
      html = response.html
      $('#messages').prepend html

%p#notice= notice

%h1
  Room:
  = @room.name

= link_to 'Edit', edit_room_path(@room)

= link_to 'Back', rooms_path

= render 'messages/form'

#messages
  = render @room.messages.newer
