%p#notice= notice

:coffee
  dispatcher = new WebSocketRails(location.host + "/websocket")
  channel = dispatcher.subscribe("room.#{@room.id}")
  channel.bind "message", (data) ->
    response = $.parseJSON(data)
    html = response.html
    $('#messages').prepend html

%h1
  Room:
  = @room.name

= link_to 'Edit', edit_room_path(@room)

= link_to 'Back', rooms_path

= render 'messages/form'

#messages
  = render @room.messages.newer
